<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) TernUp Research Labs
  ~
  ~ This file is part of Caddisfly
  ~
  ~ Caddisfly is free software: you can redistribute it and modify it under the terms of
  ~ the GNU Affero General Public License (AGPL) as published by the Free Software Foundation,
  ~ either version 3 of the License or any later version.
  ~
  ~ Caddisfly is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License included below for more details.
  ~
  ~ The full license text can also be seen at <http://www.gnu.org/licenses/agpl.html>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.akvo.mobile.caddisfly">

    <application
        android:name="com.ternup.caddisfly.app.MainApp"
        android:label="@string/appName"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name="org.akvo.mobile.caddisfly.activity.MainActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.akvo.flow.action.externalsource" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ternup.caddisfly.activity.ProgressActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true"
            tools:ignore="UnusedAttribute" />

    </application>

</manifest>
